################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SomeApp/SomeApp/obj/Debug
/SomeApp/SomeApp/bin/Debug
